<% @books.each do |book| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= book.name %></h1>
    <i><%= book.author %></i><br /><br />
    <p><%= book.description %></p><br />
  </div>


<% end %>